.col1 {
  margin-top: 3rem;
}

.col-md-6,
.centre {
  width: var(--markupwidth) !important;
  height: var(--markupheight);
  border: 2px solid purple;
}

.color-images {
  width: 100%;
  /* Make it responsive */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Ensure proper wrapping on smaller screens */
  gap: 10px;
  /* Add space between items */
}

#color-images img {
  width: 50px;
  /* Maintain consistent image size */
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.slick-slide {
  margin: 0 10px;
  /* Consistent spacing */
}

.slick-list {
  margin: 0 -10px;
  padding: 10px 0;
}

/* Media Queries */
@media (max-width: 576px) {
  .virtual {
    display: none;
  }

  .parent-box {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .virtual {
    font-size: var(--large);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .color-picker {
    width: 50% !important;
  }
}

#pic {
  transition: transform 0.3s ease;
  /* Smooth zoom effect */
}

.zoomed-out {
  transform: scale(1.05);
}

.zoomed-in {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .img {
    width: 330px !important;
  }
}

@media (min-width: 1024px) {
  .img {
    width: 360px !important;
  }
}

#door {
  background-color: var(--btncolor);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}

/*  handle for small screen  */
@media (max-width: 576px) {
  .slider-img {
    width: 100% !important;
  }
}

/* Optionally, hide the second image initially */
#my-img-2 {
  display: none;
}

/*  images section */
.lips-color-image {
  font-size: var(--small);
}

.lip-foundation-blush {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

@media (min-width: 577px) and (max-width: 768px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50% !important;
  }

  .blush-section {
    margin: 0 auto;
    margin-top: 2rem !important;
  }
}
