.col1 {
  margin-top: 3rem;
}

.col-md-6,
.centre {
  width: var(--markupwidth) !important;
  height: var(--markupheight);
  border: 2px solid purple;
}

.color-images {
  width: 100%;
  /* Make it responsive */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* Ensure proper wrapping on smaller screens */
  gap: 10px;
  /* Add space between items */
}

#color-images img {
  width: 50px;
  /* Maintain consistent image size */
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.slick-slide {
  margin: 0 10px;
  /* Consistent spacing */
}

.slick-list {
  margin: 0 -10px;
  padding: 10px 0;
}

/* Media Queries */
@media (max-width:576px) {


  .virtual {
    display: none;
  }

  .parent-box {
    width: 100% !important;
  }
}

@media (max-width:768px) {


  .virtual {
    font-size: var(--large);
  }
}

@media (min-width:768px) and (max-width:1024px) {


  .color-picker {
    width: 50% !important;
  }

  .color-images {
    justify-content: start;
    gap: 6px;
  }
}

@media (max-width:320px) {
  .color-images {
    gap: 5px;
  }
}

#imageModal {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 480px;
  margin-top: 1rem;
}

.image-wrapper {
  position: relative;
  width: 100%;

  height: auto;
}

/* The image itself */
.image-wrapper img {
  width: 360px;
  height: 480px;
}


.solid {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btncolor);
  border-radius: 1rem;
}

.solid1 {
  background-color: var(--btncolor);
  width: 25px !important;
  height: 25px !important;
  padding: 4px;
  border-radius: .2rem;
}

.dosri-larki {
  position: absolute;
  bottom: 15px;
  width: 280px;
  height: 280px;
}

@media (max-width:576px) {
  .dosri-larki {
    width: 80%;
  }
}

@media (max-width:768px) {
  .dosri-larki {
    width: 280px;
  }
}

#pic {
  transition: transform 0.3s ease;
  /* Smooth zoom effect */

}

.zoomed-out {
  transform: scale(1.05);
}

.zoomed-in {
  transform: scale(0.95);
}

@media (max-width:768px) {
  .img {
    width: 330px !important;
  }
}

@media (min-width:1024px) {

  .img {
    width: 360px !important;
  }
}

#my-img {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.slider-img {
  width: 360px !important;
  height: 480px !important;
  position: absolute;
}

#door {
  background-color: var(--btncolor);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
}