.col1 {
  margin-top: 3rem;
}

.col-md-6,
.centre {
  width: var(--markupwidth) !important;
  height: var(--markupheight);
  border: 2px solid purple;
}

.slick-slide {
  margin: 0 10px;
  /* Consistent spacing */
}

.slick-list {
  margin: 0 -10px;
  padding: 10px 0;
}

/* Media Queries */
@media (max-width:576px) {

  .virtual {
    display: none;
  }

  .parent-box {
    width: 100% !important;
  }
}

@media (max-width:768px) {


  .virtual {
    font-size: var(--large);
  }
}

@media (min-width:768px) and (max-width:1024px) {

  .color-picker {
    width: 50% !important;
  }
}

#imageModal {

  background-size: cover;
  /* Ensures the background image covers the entire modal */
  background-position: center;
  /* Centers the image within the modal */
  background-repeat: no-repeat;
  /* Ensures the background does not repeat */
  width: 360px;
  height: 480px;
  margin-top: 1rem;
}

/* Wrapper for the image */
.image-wrapper {
  position: relative;
  width: 100%;
  /* Adjust to your preferred width */
  height: auto;
}

/* The image itself */
.image-wrapper img {
  width: 360px;
  height: 480px;
}



#pic {
  transition: transform 0.3s ease;
  /* Smooth zoom effect */

}

.zoomed-out {
  transform: scale(1.05);
}

.zoomed-in {
  transform: scale(0.95);
}

@media (max-width:768px) {
  .img {
    width: 330px !important;
  }
}

@media (min-width:1024px) {


  .img {
    width: 360px !important;
  }
}

#my-img {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#door {
  background-color: var(--btncolor);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
}

/* eye lashes  */
.eye-lashes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}