.forget-section {
    background-image: url('../images/authentication/Rectangle 139.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* Ensures the background image scales properly */
    background-position: center;


    
    width: 100%;
    /* Ensures the section adjusts to the viewport width */
    position: relative;
    opacity: 1;
    /* Makes the section visible */
}

 .box {

    padding: 20px;
    border-radius: 10px;
    margin-top: 7rem;
}


.box {
    justify-content: center;
    width: 408px;
    height: 407px;
    background-color: white;
    border: 3px solid purple;
    border-radius: 2rem !important;
    display: flex;
    align-items: center;
}

.login-here {
    color: var(--primarycolor);
}

.input-complete {
    height: 55px;
}

.main-content {
    width: 308px;
    height: 307px;

}

a.mt-3 {
    display: inline-block;
    margin-top: 20px;
    /* Adjust the value as needed */
    color: var(--primarycolor);
}

input::placeholder {
    padding-left: 1rem;
}

.icon {
    color: var(--primarycolor);
}

.input-complete {
    border: 2px solid purple;
}
/*  media queries for small screen */
@media (max-width: 576px) {
    .box {
        width: 100% !important;
    }
}

