                         /* simple breakpoint in bootstrap utility classes  */

                         /* col- (Extra small, <576px)
col-sm- (Small, ≥576px)
col-md- (Medium, ≥768px)
col-lg- (Large, ≥992px)
col-xl- (Extra large, ≥1200px)
col-xxl- (Extra extra large, ≥1400px) */

                         /*  root portion  */
                         :root {
                             --primarycolor: #61145a;
                             --btncolor: #c6bed3;

                             /* Font sizes for Poppins */
                             --extrasmall: 12px;
                             --small: 14px;
                             --concealer-image: 18px;
                             --medium: 16px;
                             --medium-plus: 20px;
                             --large: 24px;
                             --authentication-heading: 40px;
                             --extralarge: 48px;

                             /* Font sizes for Ramolina Script */
                             --ramolina-medium: 40px;
                             --ramolina-large: 96px;
                             --ramolina-xlarge: 128px;
                             /* width */
                             --try-virtualwidth: 1200px;
                             --markupwidth: 150px;
                             --markupheight: 150px;
                             --modal-width: 150px;
                             --modal-height: 150px;
                             /* authentication button width */
                             --auth-button-width:308px;
                             --auth-button-height:54px;
                         }

                         @font-face {
                             font-family: 'RamolinaScript';
                             src: url('../../assets/images/fonts/Ramolina Script.ttf') format('truetype');
                             font-display: swap;

                         }


                         /* Ensure Poppins font is loaded via CDN */
                         @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

                         /* General styles */
                         body {
                             font-family: 'Poppins', Arial, sans-serif !important;
                             color: var(--primarycolor);
                         }

                         h3 {
                             font-size: var(--large);
                         }

                         h5 {
                             font-family: 'RamolinaScript', cursive;
                             font-size: var(--ramolina-xlarge);
                             /* Apply the font size from root variable */
                         }

                         h6 {
                             font-size: var(--extralarge) !important;
                         }

                         h2 {
                             font-size: var(--medium-plus) !important;
                         }

                         p {
                             font-size: var(--medium);
                         }

                         li {
                             font-size: var(--medium);
                         }

                         .merge-top {
                             margin-top: 200px !important;
                         }

                         h4 {
                             font-size: var(--concealer-image);
                         }


                         /* for every button */
                         button {
                             background-color: var(--btncolor);
                             color: var(--primarycolor);
                             border: 2px solid white;
                             /* White stroke */
                             border-radius: 5px;
                             /* Optional: Rounded corners */
                             padding: 10px 20px;
                             font-size: var(--medium);
                             cursor: pointer;
                             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                             /* Shadow */
                             transition: all 0.3s ease;
                             /* Smooth transition for hover effect */
                         }

                         /* button:hover {
    background-color: var(--primarycolor);
    color: #fff;
} */

                         /* Virtual Glam class */
                         .vglam {
                             font-family: 'RamolinaScript', cursive;
                             font-size: var(--ramolina-large) !important;
                             /* Force the font size */
                         }

                         .try-virtual-glam {
                             width: var(--try-virtualwidth);
                             height: 150px;
                         }

                         .remolina {
                             font-family: 'RamolinaScript', 'Poppins', cursive;
                         }

                         .authenticate {
                             font-size: var(--authentication-heading);
                         
                         }

                         .foundation {
                             font-family: 'RamolinaScript', 'Poppins', cursive;
                             font-size: var(--ramolina-medium);
                             color: var(--primarycolor);
                         }
                         .auth-button{
                            width: var(--auth-button-width);
                            height: var(--auth-button-height);
                             background: linear-gradient(149.67deg, #9E98ED -1.49%, #C3AAE2 49.26%, #EEBFD5 100%);
                         }
                         .auth-input{
                            width: 370px;
                            height: 45px;
                         }



                         /*  for screen width is greater than 1024px */
                         @media (min-width:1024px) {
                             .remolina1 {
                                 font-family: 'RamolinaScript', 'Poppins', cursive;
                                 font-size: var(--ramolina-large);
                                 color: var(--primarycolor);
                             }
                         }

                         .remolina1 {
                             font-family: 'RamolinaScript', 'Poppins', cursive;
                             color: var(--primarycolor);
                         }

                         /*  for screen width is greater than 1024px */
                         @media (min-width:1024px) {
                             .remolina {
                                 font-family: 'RamolinaScript', 'Poppins', cursive;
                                 font-size: 48px;
                             }
                         }

                         .virtual-glam {
                             padding-top: 2rem;
                         }

                         /* Media query for responsiveness */
                         @media only screen and (max-width: 768px) {
                             .vglam {
                                 font-size: var(--ramolina-medium) !important;
                             }

                             h5 {
                                 font-size: var(--ramolina-medium);
                             }

                             button {
                                 font-size: var(--small);
                                 padding: 8px 16px;
                             }
                         }