.signup-section {
    background-image: url('../images/authentication/Rectangle 139.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* Ensures the background image scales properly */
    background-position: center;

    width: 100%;
    position: relative;
    opacity: 1;
    /* Makes the section visible */
}
.box {
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    width: 408px;
    height: 626px;
    background-color: white;
    border: 3px solid purple;
    border-radius: 2rem !important;
    display: flex;
    align-items: center;
    margin-top: 7rem;
}

.main-content {
    width: 308px;
    height: 526.54px;
}

.login-here {
    color: var(--primarycolor);
    text-decoration: none;
}

.input1 {
    width: 144px;
    height: 52px;
}

.input2 {
    width: 144px;
    height: 52px;
}

.input-complete {
    height: 52.1px;
}

input::placeholder {
    font-weight: 275;
    padding-left: 1rem;
}

.input1,
.input2,
.input-complete {
    border: 2px solid purple;
}

/*  media queries for all screens  */
@media (max-width: 576px) {
    .box {
        width: 100% !important;
        margin-top: 6rem;
    }

    .signup-section {
        background-image: url('../images/authentication/Rectangle 139.png');
        background-repeat: no-repeat;
        background-size: cover;
        /* Ensures the background image scales properly */
        background-position: center;

    }
}

@media (min-width:577px) and (max-width:768px) {
    .box {
        margin-top: 7rem;
    }

    .signup-section {
        background-image: url('../images/authentication/Rectangle 139.png');
        background-repeat: no-repeat;
        background-size: cover;
        /* Ensures the background image scales properly */
        background-position: center;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    .box {
        margin-top: 10rem;
    }
}